nav{
	width:80%;
	height:60px;
	background-color:#f6f6f6;
	margin:0 auto;
}

nav li {
list-style:none;
float: right;
}

nav li a{
	padding:20px;
	height:60px;
	text-decoration:none;
	display:block;
}
ul.submenu{
	display:none;
	position:absolute;
	width:10%;
	background-color:#f0f0f0;
	top:76px;
	right:150px;
	
}
ul.submenu li{
	float:none !important;
}

ul.submenu li a{
	padding:10px 10px;
	display:block;
	margin:0 auto;
}

li.text:hover ul.submenu{
	display:block;
}